@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url("./assets/bg-main-desktop.png");
  background-position: top -250px left -300px;
  height: 1800px;
  width: 100vw;
}

.body-container {
  width: 1110px;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 1110px;
}
.equalizer-heading {
  font-size: 30px;
  line-height: 52px;
  width: 1110px;
  height: 52px;
  padding-top: 20px;
}

.right-header-image {
  position: absolute;
  height: 426px;
  width: 274px;
  top: 0;
  left: 1000px;
}

.description-box {
  width: 1110px;
}

.description-heading {
  font-size: 88px;
  margin: 0;
  line-height: 88px;
  letter-spacing: -1;
  padding-top: 70px;
  height: 176px;
  width: 1015px;
}

.description-text {
  font-style: normal;
  font-size: 20px;
  line-height: 34px;
  padding-top: 25px;
  padding-right: 240px;
  /* border: 2px solid pink; */
  padding-bottom: 300px;
}

.page-center {
  width: 100%;
  height: 600px;
  border: 2px solid black;
  background-color: black;
  border-radius: 10px;
  color: white;
  /* z-index: -10; */
  display: flex;
  position: relative;
}

.app-picture {
  height: 642px;
  width: 312px;
  position: absolute;
  left: 95px;
  bottom: 170px;
  z-index: 100;
}

.center-page-design {
  height: 468px;
  width: 312px;
  position: absolute;
  left: 329px;
  bottom: 200px;
}
.premium-eq-box {
  border: solid 2px #fa7453;
  background-color: #fa7453;
  border-radius: 10px;
  height: 615px;
  width: 446px;
  position: absolute;
  top: 80px;
  right: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.premium-eq-heading {
  height: 52px;
  width: 333px;
  padding-left: 45px;
  padding-top: 20px;
}
.premium-eq-text {
  height: 200px;
  width: 333px;
  font-size: 20px;
  line-height: 34px;
  padding-left: 45px;
  font-style: normal;
}

.premium-eq-pricing {
  display: flex;
  height: 120px;
  width: 262px;
}

.price {
  height: 50px;
  padding-left: 40px;
}

.span-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.price-per-month {
  font-size: 20px;
  line-height: 34px;
  padding-left: 10px;
  padding-top: 50px;
}

.buttons {
  height: 250px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

.ios-download-button {
  height: 61px;
  width: 333px;
  margin: 10px 0;
  border: 1px solid #191823;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #191823;
  color: #fcfaf9;
  cursor: pointer;
}

.ios-download-button:hover {
  background-color: #66e2dc;
  border: 1px solid #66e2dc;
}

.android-download-button {
  height: 61px;
  width: 333px;
  border: #fcfaf9;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: #fcfaf9;
  color: #191826;
}

.android-download-button:hover {
  cursor: pointer;
  background-color: #ffb964;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 120px; */
  padding-top: 120px;
}

.footer-text {
  padding-top: 40px;
  font-size: 16px;
  width: 400px;
  padding-right: 200px;
}

.social-media-tags {
  padding-top: 50px;
  width: 95px;
  display: flex;
  justify-content: space-between;
}

/* Tablet Media Queries */

@media (max-width: 834px) {
  body {
    background-image: url("./assets/bg-main-tablet.png");
    background-repeat: no-repeat;
    background-position: top -250px left -350px;
    width: 834px;
    height: 1800px;
  }
  .body-container {
    margin: 0;
    width: 879px;
  }
  .equalizer-heading {
    padding-left: 40px;
  }
  .description-box {
    width: 600px;
    height: 650px;
    padding-left: 30px;
  }
  .description-heading {
    width: 600px;
    height: 200px;
    font-size: 64px;
    line-height: 64px;
    padding-top: 40px;
  }
  .description-text {
    font-size: 18px;
    line-height: 28px;
    width: 510px;
    height: 340px;
  }
  .right-header-image {
    height: 400px;
    width: 266px;
    left: 600px;
  }
  .page-center {
    width: 770px;
    height: 596px;
    margin-left: 30px;
  }

  .app-picture {
    height: 556px;
    width: 270px;
    left: 80px;
    bottom: 200px;
  }
  .center-page-design {
    height: 420px;
    width: 280px;
    left: 250px;
    bottom: 215px;
  }
  .premium-eq-box {
    height: 546px;
    width: 399px;
    z-index: 100;
    top: 150px;
  }
  .premium-eq-heading {
    font-size: 32px;
    margin: 0;
    padding-top: 40px;
  }
  .premium-eq-text {
    font-size: 18px;
    line-height: 28px;
    padding-top: 10px;
  }
  .premium-eq-pricing {
    height: 70px;
  }
  .price {
    padding-left: 50px;
    margin: 0;
    padding-bottom: 20px;
  }
  .price-per-month {
    font-size: 20px;
    padding-top: 14px;
    padding-left: 10px;
  }

  .ios-download-button {
    height: 61px;
    width: 296px;
  }
  .android-download-button {
    height: 61px;
    width: 296px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    display: flex;
  }
  .equalizer-footer {
    margin: 0;
    font-size: 32px;
    padding-top: 70px;
    padding-left: 30px;
    position: relative;
  }
  .footer-text {
    font-size: 16px;
    line-height: 26px;
    padding-top: 15px;
    padding-left: 30px;
    margin: 0;
  }
  .social-media-tags {
    position: absolute;
    left: 650px;
    bottom: 20px;
  }
}

/* Phone Media Queries */

@media (max-width: 400px) {
  body {
    background-image: url("./assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: top 300px left: 700px;
    width: 600px;
    height: 2300px;
  }
  .body-container {
    margin: 30px;
    width: 400px;
  }
  .equalizer-heading {
    color: green;
    font-size: 26px;
    margin: 0;
    padding: 0;
  }
  .description-box {
    height: 327px;
    width: 320px;
    padding: ;
  }
  .description-heading {
    font-size: 40px;
    line-height: 48px;
    border: 2px solid green;
    width: 375px;
    height: 144px;
    letter-spacing: 0.45px;
    width: 300px;
    margin: 0;
  }
}
